.card {
    border-radius: 4px;
    border: 1px solid #ebeef5;
}
.card-header {
    padding: 18px 20px;
    border-bottom: 1px solid #ebeef5;
}
li {
    list-style: none;
    padding: 10px;
}

ul {
    padding-left: 8px;
}

a {
    text-decoration: none;
    margin-left: 37px;
}
