@import './../variables/index.scss';

.card {
    border-radius: 4px;
    border: 1px solid $card-border-gray;
}
.card-header {
    padding: 18px 20px;
    border-bottom: 1px solid $card-border-gray;
}
li {
    list-style: none;
    padding: 10px;
}

ul {
    padding-left: 8px;
}

// a {
//     text-decoration: none;
//     margin-left: 37px;
// }

.card-footer {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    padding: 18px 20px;
    align-items: center;

    .footer-items {
        display: flex;
    }

    .footer-span-left {
        display: flex;
        justify-content: space-between;
    }

    .footer-span-right {
        display: flex;
        justify-content: flex-end;
    }

    .footer-item-title {
        color: $label-color
    }

    .footer-item-value {

    }
}
