@import "./components/input.scss";
@import "./components/card.scss";

img {
    height: 60px;
    width: 63px;
    border-radius: 32px;
}

.card-calendar-grid {
    display: grid;
    grid-template-columns: 100px 20px auto;
}

.active {
    background: yellow;
}
.full-calendar {
    display: grid;
    grid-template-columns: 200px auto;
}
p {
    text-align: center;
}
.full-calendar-day-number {
    border: 1px solid #ddd;
    max-width: 50px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
}
.event {
    height: 10px;
    background: white;
    margin-top: 10px;
    position: relative;
};
.border-rounded-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 85%;
    align-self: flex-end;
    .event-icon {
        top: -9px;
        left: 5px;
        right: 0px;
    }
}
.border-rounded-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 85%;
    align-self: flex-start;
    .event-icon {
        top: -9px;
        right: 0px;
        left: 16px;
    }
}
.border-rounded-left-right {
    border-radius: 20px;
    width: 85%;
    align-self: center;
    .event-icon {
        top: -9px;
        left: 14px;
    }
}
.event-icon {
    position: absolute;
    top: -9px;
    left: 18px;
}
.card-header {
    display: grid;
    grid-template-columns: auto auto
};

.card-date-grid {
    display: grid;
    grid-template-columns: 16% auto;
}
