@import "./components/input.scss";
@import "./components/card.scss";
@import './variables/index.scss';


img {
    height: 60px;
    width: 63px;
    border-radius: 32px;
}

.card-calendar-grid {
    display: grid;
    grid-template-columns: 100px 20px auto;
}

.active {
    background: yellow;
}
.full-calendar {
    display: grid;
    grid-template-columns: 200px auto;
}
p {
    text-align: center;
}
.full-calendar-day-number {
    border: 1px solid #ddd;
    max-width: 50px;
    min-width: 50px;
}
.calendar-holiday-header {
    color: $red;
    background-color: $lightest-gray;
}
.calendar-holiday-wrapper {

}
.calendar-selected-header {
    color: $white;
    background-color: $black
}
.calendar-selected-wrapper {

}
.event {
    height: 11px;
    background: white;
    margin-top: 10px;
};
.border-rounded-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.border-rounded-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.event-icon {
    position: relative;
    top: -16px;
    margin-left: 20px;
}
.card-header {
    display: grid;
    grid-template-columns: auto auto
};

.card-date-grid {
    display: grid;
    grid-template-columns: 16% auto;
}
