@import "./components/input.scss";
img {
    height: 60px;
    width: 63px;
    border-radius: 32px;
}

.card-calendar-grid {
    display: grid;
    grid-template-columns: 100px 20px auto;
}

.active {
    background: yellow;
}
.full-calendar {
    display: grid;
    grid-template-columns: 200px auto;
}
p {
    text-align: center;
}
.full-calendar-day-number {
    border: 1px solid #ddd;
    max-width: 50px;
    min-width: 50px;
}
.event {
    height: 20px;
    background: white;
    margin-top: 10px;
};
.event-icon {
    position: relative;
    top: -16px;
    margin-left: 20px;
}
.card-grid {
    display: grid;
    grid-template-columns: auto auto
};
.card {
    display: grid;
    grid-template-columns: auto auto;
}
.card-date-grid {
    display: grid;
    grid-template-columns: 16% auto;
}
