$light-gray: #ededed;
$white: #fff;
$dark-white: #7a85bc;
$white-smoke: #F8F8F8;
$gains-boro: #E3E3E3;
$black: #000;
$dark-gray: #333;
$label-color: #a6b4b7;
$light-gray: #c0bfbf;
$mid-gray: #767676;
$lightest-gray: #efefef;
$red: #ff0000;
$green: #259a25;
$trans-green: rgba(37, 154, 37, .3);
$light-green: rgba(82, 196, 26, .145);
$trans-yellow: rgba(248, 209, 72, .5);
$blue: #0000ff;
$dark-blue: #00008b;
$dark-yellow: #ffae42;
$light-blue: #4682B4;
$greenish: #D8F9DC;
$dark-red: #540B07;
$lighten-dark-red: #831810;
$trans-red: rgba(255, 182, 193, .1);
$lighten-trans-red: #EB3325;
$light-orange: #EF8233;
$yellow: #F3B140;
$light-yellow: #F8D148;
$card-border-gray: #EBEEF5;
$primary-font: 'Roboto', "Helvetica Neue", Helvetica, sans-serif
